.btn{
    padding:3px;
    margin:10px;
    width:100px;
    font-size: 20px;
    cursor: pointer;
}
.orders{
    display: flex;
    justify-content: flex-end;
    text-align: end;
    display: block;
    color:white;
    background-color: red;
}