.tableStyle{
    width:500px;
    height: 500px;
    background-color: lightgoldenrodyellow;
    margin-top: 10%;
    margin-left: 10%;
}
.tableRow{
    border:2px solid black;
    text-align: center;
}